# Machine Learning

### (The project's data comes from Kaggle. <Train.csv> is used for ml training and <test.csv> is used for testing model.)
--- 
## **Description**: </br> </br> Ask a home buyer to describe their dream house, and they probably won't begin with the height of the basement ceiling or the proximity to an east-west railroad. But this playground competition's dataset proves that much more influences price negotiations than the number of bedrooms or a white-picket fence. 
## **Goal**: </br> </br>With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, this competition challenges you to predict the final price of each home.

In [5]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings   # remove all warnings from the output
warnings.filterwarnings("ignore")

pd.set_option('display.max_colwidth',-1)

In [42]:
df_house=pd.read_csv('train.csv')

In [43]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [44]:
df_house.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      259
LotArea          0
Street           0
Alley            1369
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       8
MasVnrArea       8
ExterQual        0
ExterCond        0
Foundation       0
                ..
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
Fireplaces       0
FireplaceQu      690
GarageType       81
GarageYrBlt      81
GarageFinish     81
GarageCars       0
GarageArea       0
GarageQual       81
GarageCond       81
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

## Look at each feature is null

### LotFontage (Linear feet of street connected to property)

In [45]:
df_house['LotFrontage'].fillna(df_house['LotFrontage'].mean(), inplace=True)
df_house['LotFrontage'].isnull().sum()

0

### Alley (Type of alley access to property)

In [48]:
df_house['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [11]:
df_house[df_house['SalePrice'].isna()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

In [12]:
df_house['SalePrice'].describe()

count    1460.000000
mean     180921.195890
std      79442.502883
min      34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [13]:
y_axis=df_house['SalePrice']
x_axis=df_house[['SaleType','SaleCondition','MSZoning','LotShape','Neighborhood','Condition1','Condition2']]

### Encoding

In [19]:
# onelable encoding before data split
from sklearn.preprocessing import LabelEncoder

x_axis=x_axis.apply(LabelEncoder().fit_transform)
x_axis

,SaleType,SaleCondition,MSZoning,LotShape,Neighborhood,Condition1,Condition2
0,8,4,3,3,5,2,2
1,8,4,3,3,24,1,2
2,8,4,3,0,5,2,2
3,8,0,3,0,6,2,2
4,8,4,3,0,15,2,2
5,8,4,3,0,11,2,2
6,8,4,3,3,21,2,2
7,8,4,3,0,14,4,2
8,8,0,4,3,17,0,2
9,8,4,3,3,3,0,0
10,8,4,3,3,19,2,2
11,6,5,3,0,16,2,2
12,8,4,3,1,19,2,2
13,6,5,3,0,5,2,2
14,8,4,3,0,12,2,2
15,8,4,4,3,3,2,2
16,8,4,3,0,12,2,2
17,8,4,3,3,19,2,2
18,8,4,3,3,20,5,2
19,0,0,3,3,12,2,2
20,6,5,3,0,16,2,2
21,8,4,4,3,9,2,2
22,8,4,3,3,5,2,2
23,8,4,4,3,10,2,2
24,8,4,3,0,19,2,2
25,8,4,3,3,16,2,2
26,8,4,3,3,12,2,2
27,8,4,3,3,16,2,2
28,8,4,3,0,12,2,2
29,8,4,4,0,3,1,7
...,...,...,...,...,...,...,...
1430,8,4,3,2,8,6,2
1431,8,4,3,0,13,2,2
1432,8,4,3,3,17,2,2
1433,8,4,3,0,8,2,2
1434,8,4,3,3,11,2,2
1435,0,0,3,3,12,2,2
1436,8,4,3,3,12,2,2
1437,6,5,3,3,16,2,2
1438,8,4,4,3,17,0,2
1439,8,4,3,3,14,2,2
1440,8,4,3,0,6,2,2
1441,8,4,4,3,5,2,2
1442,8,4,1,3,21,2,2
1443,8,4,3,3,3,2,2
1444,8,4,3,3,5,2,2
1445,8,4,3,3,19,2,2
1446,8,4,3,0,11,2,2
1447,8,4,3,3,5,2,2
1448,8,4,3,3,7,2,2
1449,8,0,4,3,10,2,2
1450,8,4,3,3,12,2,2
1451,6,5,3,3,21,2,2
1452,8,4,4,3,7,2,2
1453,8,0,3,3,11,2,2
1454,8,4,1,3,21,2,2
1455,8,4,3,3,8,2,2
1456,8,4,3,3,14,2,2
1457,8,4,3,3,6,2,2
1458,8,4,3,3,12,2,2
1459,8,4,3,3,7,2,2

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test,y_train, y_test= train_test_split(x_axis,y_axis,test_size=0.3,random_state=0)

In [39]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score

def cross_val(model):
    pred=cross_val_score(model,x_axis,y_axis,cv=5,scoring='r2')
    return pred

def print_evaluate (true,predicted):
    mae=metrics.mean_absolute_error(true,predicted)
    mse=metrics.mean_squared_error(true,predicted)
    rmse=np.sqrt(metrics.mean_squared_error(true,predicted))
    r2_square=metrics.r2_score(true,predicted)
    print('MAE:',mae)
    print('MSE:',mse)
    print('RMSE:',rmse)
    print('R Square:',r2_square)

def evaluate (true,predicted):
    mae=metrics.mean_absolute_error(true,predicted)
    mse=metrics.mean_squared_error(true,predicted)
    rmse=np.sqrt(metrics.mean_squared_error(true,predicted))
    r2_square=metrics.r2_score(true,predicted)
    return mae, mse, rmse, r2_square

In [23]:
from sklearn.linear_model import LinearRegression

lin_reg=LinearRegression(normalize=True)
lin_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [27]:
print(lin_reg.intercept_)#y=ax+b里面b的值

164276.23832098645

In [30]:
coeff=pd.DataFrame(lin_reg.coef_,x_axis.columns,columns=['Coefficient'])#a的值 ，a也是bias
coeff

                Coefficient
SaleType      -5371.275160
SaleCondition  16710.739954
MSZoning      -10640.066402
LotShape      -12677.454664
Neighborhood   1812.022829
Condition1     3784.548155
Condition2     10319.744593

In [31]:
test_pred = lin_reg.predict(x_test)
train_pred = lin_reg.predict(x_train)

print('train set evaluation:\n_____________')
print_evaluate(y_train,train_pred)
print('===============')
print('test set evaluation:\n_____________')
print_evaluate(y_test,test_pred)

train set evaluation:
_____________
MAE: 52036.80153371311
MSE: 5116040730.378992
RMSE: 71526.50369184134
R Square: 0.16127127791149387
===============
test set evaluation:
_____________
MAE: 51793.88036026865
MSE: 5686446070.570261
RMSE: 75408.52783717675
R Square: 0.16240193848829

In [40]:
evaluate_df = pd.DataFrame(data=[["Linear Regression",*evaluate(y_test,test_pred),cross_val(LinearRegression())]],
                      columns=['Model','MAE','MSE','RMSE','R Square','Cross Validation'])#分割完数据集后，我们训练模型，那模型的表现到底如何呢？我们可以使用这个函数来看模型的评分。

In [41]:
evaluate_df

,Model,MAE,MSE,RMSE,R Square,Cross Validation
0,Linear Regression,51793.88036,5.686446e+09,75408.527837,0.162402,"[0.11069675696623171, 0.1888345646081896, 0.1702571257530897, 0.17229883158998172, 0.12973706636405125]"